:root {
  --primary-color: rgb(255, 251, 239);
  --secondary-color: rgb(242, 98, 64);
  --cta-color: #012e41;
  --ternary-color: #e3d9cf;
}
body {
  background-color: var(--primary-color);
}
.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cta-color);
  font-size: 2rem;
  height:5rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--ternary-color);
  z-index:2;
}

.logo-title {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11%;
}

.logo-title img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.right-side-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.content-wrap {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: var(--ternary-color);
  height: 90%;
  color: var(--cta-color);
  font-size: 2rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: 35%;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.image-wrap img {
  width: 25rem;
  border-radius: 10px;
}

.btn-container {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 5px;
  border: none;
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--cta-color);
  color: var(--primary-color);
  height: 2.1rem;
  font-size: 1.5rem;
}

.fa-fire {
  color: var(--secondary-color);
}

.right-side-nav i:hover {
  color: var(--secondary-color);
}

.right-side-nav h3:hover {
  color: var(--secondary-color);
}
