.text_avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.named-avatar {
  background-color: var(--avatar-prim-color);
  border: 0.1rem solid var(--avat-sec-color);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 3rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-na {
  width: 1rem;
  height: 1rem;
  font-size: 0.5rem;
}

.medium-na {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.large-na {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}
.img_avatar_set {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  gap:1rem;
}

.img-avatar {
  border-radius: 50%;
}

/* Borders */
.maron-border {
  border: 0.1rem solid var(--border-one);
}

.online-border {
  border: 0.2rem solid var(--border-two);
}

.issue-border {
  border: 0.2rem solid var(--border-three);
}

@media screen and (max-width: 480px) {
  .text_avatar {
    flex-direction: column;
  }

  .img_avatar_set {
    flex-direction: column;
  }
}
