
.badge-collection {
  margin: 5rem;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  gap :1rem;
  flex-wrap: wrap;
}

.relative-container {
  position: relative;
  padding: 0.3rem;
}

.badge {
  background-color: var(--badge-bg-color);
  color: var(--badge-txt-color);
  border-radius: 50%;
  position: absolute;
  font-size: 0.7rem;
  width: 0.9rem;
  height: 0.9rem;
  text-align: center;
}

.top-right {
  top: 0;
  right: 0;
}

.top-left {
  background-color: var(--top-left-bg);
  color: var(--badge-txt-color);
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border: 0.1rem solid var(--badge-txt-color);
}

.lrg {
  height: 1rem;
  width: 1rem;
  border: none;
}

.btn-1 {
  padding: 0.8rem 1.4rem;
  color: var(--badge-txt-color);
  background-color: var(--badge-bg-color);
  border: none;
  border-radius: 0.3rem;
}

.btn-2 {
  background-color: var(--badge-txt-color);
  box-shadow: var(--offline-color);
  padding: 0.8rem 1.4rem;
  border: 1px solid var(--ternary-color);
  border-radius: 0.3rem;
}

.hide:hover ~ .hide_it {
  display: none;
}

.avatar {
  position: relative;
}

.small {
  width: 2.5rem;
}

.medium {
  width: 6rem;
}

.large {
  width: 8rem;
}

.largest {
  width: 10rem;
}

.relative-wrap {
  position: relative;
}

.circle {
  background-color: var(--badge-bg-color);
  color: var(--badge-txt-color);
  border-radius: 50%;
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  border: 0.2rem solid var(--badge-txt-color);
}

.online {
  width: 1rem;
  height: 1rem;
  bottom: 0.5rem;
  right: 0.45rem;
  background-color: var(--online-color);
}

.issue {
  width: 1.2rem;
  height: 1.2rem;
  bottom: 0.7rem;
  right: 0.6rem;
  background-color: var(--issue-color);
}

.offline {
  width: 1.5rem;
  height: 1.5rem;
  bottom: 0.8rem;
  right: 1rem;
  background-color: var(--offline-color);
}

.icon-badge {
  font-size: 2rem;
  color: var(--icon-badge-color);
}


