:root{
    --btn-primary-color: #ff751f;
    --btn-sec-color : white;
    --icn-btn-color: #d81159;
    --float-action-color:blueviolet;
    --shadow-color:grey;
}

.btn-collection {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 3rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.btn {
  width: 15rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
}
.primary-btn {
  color: var(--btn-sec-color);
  background-color: var(--btn-primary-color);
}

.linked-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--btn-primary-color);
  background-color: transparent;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--btn-sec-color);
  background-color: var(--icn-btn-color);
}

.float-action {
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 2.5rem;
  background-color: var(--float-action-color);
  color: var(--btn-sec-color);
  box-shadow: 0 0.3rem 0.3rem 0 var(--shadow-color) ;
}

.linked-btn:hover {
  background-color: var(--btn-primary-color);
  color: var(--btn-sec-color);
}

.btn-opa:hover{
    opacity: 0.8;
}