.responsive-img-set {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
}

.img-resp {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-round {
  border-radius: 100%;
}
