.input-wrap {
  font-family: sans-serif;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.heading {
  font-weight: bold;
  font-size: 1rem;
}

.input-group {
  padding: 1rem;
  width: 90%;
  gap: 0.2rem;
  background-color: var(--ternary-color);
}

.input-group label {
  font-weight: bold;
  font-size: 1.2rem;
}

.input-area {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.correct {
  color: var(--valid-input-color);
}

.error {
  color: var(--error-input-color);
}
.correct input {
  border: 2.5px solid var(--valid-input-color);
}

.error input {
  border: 2.5px solid var(--error-input-color);
}

.flex-col {
  display: flex;
  flex-direction: column;
}
