@import url(../components/avatar.css);
@import url(../home.css);
@import url(../components/image.css);
@import url(../components//badge.css);
@import url(../components/alert.css);
@import url(../components/button.css);
@import url(../components/card.css);
@import url(../components/input.css);
@import url(../components/txt-util.css);
@import url(../components/snackbar.css);
@import url(../components/rating.css);
@import url(../components/navigation.css);
@import url(../components/utility.css);
@import url(../components/list.css);
@import url(../components/grid.css);
@import url(../components/slider.css);

/* reset css */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* home page */
  --primary-color: rgb(255, 251, 239);
  --secondary-color: rgb(242, 98, 64);
  --cta-color: #012e41;
  /* --home-ternary-color: #e3d9cf; */

  /* badge */
  --badge-bg-color: rgb(31, 31, 192);
  --badge-txt-color: rgb(255, 255, 255);
  --online-color: green;
  --issue-color: red;
  --offline-color: grey;
  --icon-badge-color: rgb(7, 129, 177);
  --ternary-color: lightgray;
  --top-left-bg: rgb(223, 51, 208);

  /* avatar border */
  --avatar-prim-color: rgb(255, 224, 227);
  --avatar-sec-color: rgb(255, 72, 88);
  --border-one: rgb(167, 139, 250);
  --border-two: rgb(14, 238, 14);
  --border-three: rgb(241, 12, 12);

/* button */
  --btn-primary-color: #ff751f;
    --btn-sec-color : white;
    --white-color:white;
    --icn-btn-color: #d81159;
    --float-action-color:blueviolet;
    --shadow-color:grey;

    --alert-primary-color: rgb(239, 216, 236);

    /* success */
    --prim-success: rgb(6, 144, 64);
    --sec-success: rgb(195, 243, 215);
    /* info */
    --prim-info: rgb(41, 152, 221);
    --sec-info: rgb(215, 240, 255);
    /* warning */
    --prim-warning: rgb(212, 147, 26);
    --sec-warning: rgb(255, 219, 155);
    /* danger */
    --prim-danger: rgb(255, 72, 88);
    --sec-danger: rgb(255, 224, 227);


    /* card */
    --card-primary-color: orange;
    --card-secondary-color: rgb(246, 66, 66);
    --card-bg-color:#fffbef;
    --product-txt-color:rgb(97, 96, 96);
    --card-txt-color:grey;
    --ratg-bg-color:green;
    --card-white:#fff;
    --price-txt-color:rgb(151, 29, 29);
    --outof-color:rgb(93, 45, 5);
  
    --overlay-bg-color:#47677a;
    --card-badge-bg-color:rgb(1, 1, 63);

    /* valid & error input */
    --valid-input-color :green;
    --error-input-color:red;

    --dark-grey:rgb(51,51,51);
    /* rating color */
    --rating-color:yellow;
    --default-rating-color:rgb(104, 102, 102);
}

body{
  background-color:var(--card-white);
  font-family: sans-serif;
}
.content {
  display: flex;
}

.fixed-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
  overflow-y: auto;
  position: sticky;
  top: 3.5rem;
  background-color: var(--primary-color);
}


.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon-btn{
  color: var(--cta-color);
}

.logo_img {
  width: 10%;
  border-radius: 50%;
  margin-right: 1rem;
}

.nav-element {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--cta-color);
  margin: 0.5rem 0;
  border-radius: 5px;
  padding: 5px 2px;
}

.navbar-icon{
display:none;
}

.right-side-content{
  margin-top:5rem;
  width: 100%;
}

.nav-element:hover{
color:var(--secondary-color);
}

.comp-title{
  text-align:center;
  scroll-margin-top: 3.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

@media  only screen and (max-width: 768px)
{
  .fixed-nav{
    display: none;
  }
 
}
@media  only screen and (max-width: 430px)
{
  .navbar-icon{
    display: block;
    cursor: pointer;
    padding: 0.3rem;
    border-radius:5px;
    margin-right:10px;
    color:var(--btn-primary-color);
    border:1px solid var(--overlay-bg-color);
  }
}